<div class="row mt-5" id="body">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">Théo Huret</h5>
                <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-1">Epitech. Lille, France</p>
                <p class="text-muted mb-1">lucas.zielinski@epitech.eu</p>
                <p class="text-muted mb-4">+33 7 81 94 26 12</p>
                <div class="d-flex justify-content-center mb-2">
                    <a href="https://www.linkedin.com/in/th%C3%A9o-huret-a49a551a6/" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">Zielinski Lucas</h5>
                <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-1">Epitech. Lille, France</p>
                <p class="text-muted mb-1">lucas.zielinski@epitech.eu</p>
                <p class="text-muted mb-4">+33 6 52 80 68 11</p>
                <div class="d-flex justify-content-center mb-2">
                    <a href="https://www.linkedin.com/in/lucas-zielinski-b8a114238/" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>